# Python Skill Assessment

Welome to the MIDS Python skill assessment! The aim of this exam is to evaluate your skills in Python to help ensure that in subsequent courses we target materials appropriately.

When asked for code, please try and think of the **simpliest** code to generate the requested result. For example, if asked for "code to add up 2, 5, and 7", just enter `2 + 5 + 7`, not `(2 + 42 - 42 + 5 + 7) * 100 / 20 / 5`

## Basic Python

**Question 1:** Add up all the numbers from 1 to 100 (e.g. 1, 2, 3, ... , 99, 100).

In [7]:
# This can be done in several ways
sum(range(101))

# Or
total = 0
for i in range(101):
    total = total + i
total

# Note that if you get 4950, that's probably because you forgot that `range()` DOES NOT include the last number!

5050

**Question 2:** Add up all the **even** numbers from 1 to 100 (e.g. 2, 4, 6, ... 98, 100).

In [13]:
# Again, there are several strategies to do this, including:

sum(range(0, 101, 2))

# or 

total = 0
for i in range(101):
    if i % 2 == 0:
        total = total + i
total

# or

sum([i for i in range(101) if i % 2 == 0])

2550

**Question 3:** What is the type of the variable x defined as `x = 42.0`?

In [15]:
x = 42.0
type(x)

float

**Question 4:** Consider the list `my_list = [42, 47, 1.168, 3.14, 8, -5]`. What code would return the first three entries of `my_list`?

In [100]:
my_list = [42, 47, 1.168, 3.14, 8, -5]
my_list[0:3]

[42, 47, 1.168]

**Question 5:** What code would return the last entry of `my_list`?

In [20]:
# Two options:

my_list[5]

# or 

my_list[-1]

-5

**Question 6:** What is the value of $2^{8} / 23$ (rounded to two decimal places)

In [34]:
round((2**8) / 23, ndigits = 2)

11.13

## Numpy

For the next set of questions, we will work with an array you can generate using the following code. The line `np.random.seed(14)` will ensure that your code always generates the same random variables (I know, how can they be random if they're always the same? The truth is that random numbers aren't actually random, they just *look* random...)

In [45]:
import numpy as np
np.random.seed(14) # This guarantees the code will generate the same set of random numbers whenever executed
random_integers = np.random.randint(1,high=500000, size=(100, 5))
random_integers

array([[117356,  79193, 402701, 117143, 285000],
       [306938, 482663, 340715, 187037, 489099],
       [361681, 301630, 237033, 384878, 202395],
       [455706,  66008, 310263, 272876, 121377],
       [364536, 164101, 393166, 244875, 302731],
       [ 79361,  61911, 236629, 243846, 376358],
       [271993, 313446, 268330, 493289, 426216],
       [  8772, 427728,  95557, 332750, 273582],
       [ 68988,  16146, 130812, 185335, 153473],
       [224416, 213770, 365756,  49180, 103414],
       [172251, 436012, 294647,  75763, 274690],
       [  3965, 348488, 178281, 490176, 370571],
       [100398, 417520, 305183, 447380, 386626],
       [404538, 385612, 153806, 211282, 342374],
       [ 60174, 338873, 423248, 214698, 168576],
       [476438,  43534, 254276, 165950, 274763],
       [ 65263, 386490, 268751,  57949, 343279],
       [450493, 298506,   4431, 211333, 108723],
       [270822, 481845,  16642, 329868, 165861],
       [405362, 323972, 471053, 211869,  81750],
       [313833, 134546,  79188, 270712, 137777],
       [354212, 274024, 298962, 291211,  74549],
       [  3903, 306390, 288309, 201028, 494905],
       [447463, 403450, 144433, 423241, 433646],
       [112309, 152164, 285783, 194007, 463801],
       [474381, 306739,   9276, 452346, 230477],
       [481080,  83746, 366033,  68800, 426501],
       [280396,  45408, 420537, 135292, 251291],
       [118194,  13085, 249639,  38281, 156515],
       [132476, 417382, 194205,  74306, 343248],
       [263715, 191233, 354267,   8348, 495020],
       [365868, 471620, 222228, 152316, 322068],
       [217820,  49359, 285387,  21583, 350203],
       [145641, 101231, 430336,  59550, 463147],
       [183715, 305827, 302543, 188453, 237000],
       [ 95144, 372070,  18455,  69706, 301087],
       [493934,  13652, 275401, 122461, 315542],
       [388819,  60478, 415747, 406506, 473085],
       [150724,  57940,  94885, 101176, 198385],
       [101413,  71350, 276904, 280074, 290324],
       [178205, 247621, 284356, 210916, 487022],
       [ 41202, 230490, 448883, 277469, 422523],
       [144934, 236785, 312883, 185775, 335966],
       [ 89719, 234304,  39807, 168712, 348289],
       [ 63803,  10550,   6449, 170069,  35589],
       [477263,  14060, 384474, 357074,  30968],
       [187681, 318956,  23927, 435999, 166127],
       [ 54628, 101576, 461472, 340576, 185647],
       [260394,  32365, 336439, 384599,  48015],
       [152403,  16347, 117748, 403583, 364162],
       [211166, 203736,  49466, 306523, 428396],
       [114866, 261539, 440881, 362763, 159729],
       [425294, 482596, 299292, 355930, 111776],
       [ 98824,   3921, 273758, 118399, 430826],
       [438208, 381271, 339900,  80657,  50203],
       [474743, 471600, 353567, 450765, 296258],
       [ 33415, 104288, 367591, 323201, 354633],
       [424392, 131955,  28204, 313363, 290467],
       [376520, 170149, 214179, 205539, 163528],
       [ 61034, 322362, 376660, 184010, 309345],
       [286925, 323248, 474445, 473328, 477337],
       [390292, 214228, 229392, 324264,  91835],
       [390826, 402078, 335505, 472759, 155112],
       [202409, 283000, 102724, 196553, 310444],
       [262396, 157409, 199013, 267656, 484045],
       [208658, 201896, 113097, 347062, 364805],
       [250666, 222504, 376317, 479592, 493836],
       [229781, 359432, 272322, 341494,  16717],
       [280897,  39074, 334878, 101829,  67820],
       [488769, 247540, 143353, 285099, 140820],
       [300867, 495427, 373674,  49985,  69313],
       [198232, 223241, 497281, 421842,  79169],
       [496639, 299713, 255833, 432043,  12777],
       [437581, 291642, 148043, 477607, 112096],
       [ 67864,  44283,  69392, 382337, 284343],
       [293189, 180281, 291319, 363481, 435428],
       [459072, 443134,  11440, 186101, 275322],
       [227867, 324407, 422703, 482207, 188337],
       [ 32275,  17736, 451824, 335077, 479673],
       [  4951, 421401, 459572, 355113, 412146],
       [249808, 138691, 314608, 260414, 376289],
       [383590, 162707, 258334, 434896,  53880],
       [374156, 230751, 374337, 290961,  66454],
       [326880, 488671, 405650, 313874, 400569],
       [ 32656, 461726, 304489,  15001,  33060],
       [481390, 181060,  37369, 412141, 366134],
       [ 85716, 113532, 246890, 258636, 391593],
       [363026, 282380, 227961, 367884, 383101],
       [267678,  98615, 153772, 448604,  44697],
       [109702,  55407,  97120, 170272,  85218],
       [362417,  12991, 315547,  13608, 191483],
       [361957, 473101,  27746, 369041, 379912],
       [360818, 323716, 109783,  79343,  86940],
       [ 44999, 263884, 233513, 130902, 317999],
       [353540, 254496, 241344, 327760, 175980],
       [197694, 457353, 442152, 181599, 497937],
       [346809, 425322, 325502, 311691, 289366],
       [427003,   5406, 313027,  79199, 397995],
       [ 98327, 323324,  68021, 211022, 331601],
       [187769, 479679, 227348,   5848, 382203]])

**Question 7:** What is the average value of the second column (to two decimal places)

In [50]:
# The right answer:
avg = np.mean(random_integers[:, 1])
round(avg, ndigits=2)

238200.99

In [51]:
# But many people will forget about zero indexing and get:
avg = np.mean(random_integers[:, 2])
round(avg, ndigits=2)

256103.74

**Question 8:** What is the average value of the first 20 rows of the third and fourth columns?

In [55]:
avg = np.mean(random_integers[0:20, 2:4])
round(avg, ndigits=2)

251968.92

In [56]:
# But again, an unsurpriging answer would be:
avg = np.mean(random_integers[1:20, 3:4])
round(avg, ndigits=2)

# Which you get if you forget about zero indexing

253175.47

### Pandas

For the `pandas` portion of this exam, we'll be working with data in a CSV [file you can download here.](https://sejdemyr.github.io/r-tutorials/basics/data/world-small.csv)

**Question 9**: How many rows are in this dataset?

In [73]:
import pandas as pd
df = pd.read_csv('example_data/world-small.csv')
len(df)

145

**Question 10:** In alphabetical order, what countries had GDP per Capita values in 2008 (the variable `gdppcap08`) above 17,000 and below 20,000. 

Please just type the country names with the same capitalization as is found in the original data using only spaces to separate values.

In [83]:
df.loc[(df.gdppcap08 < 20000) & (df.gdppcap08 > 17000), 'country']

31       Croatia
57       Hungary
74        Latvia
78     Lithuania
105       Poland
Name: country, dtype: object

**Question 11**: What country in this data has the lowest GDP Per Capita?

In [85]:
df.loc[df.gdppcap08 == np.min(df.gdppcap08), "country"]

144    Zimbabwe
Name: country, dtype: object

**Question 12**: The `polityIV` variable in this data is an [expert score for a country's authoritarianism](http://www.systemicpeace.org/polityproject.html). Values of -10 are extreme autocracies, while values of 10 are consolidated liberal democracies. What is the average polity score for the 10 poorest countries in this data?

In [91]:
df = df.sort_values('gdppcap08', ascending=True)
poorest_polities = df.iloc[0:10,]
avg = np.mean(poorest_polities['polityIV'])
print(round(avg, ndigits=2))

10.85

**Question 13:** What is the average polity score for the 10 richest countries?

In [96]:
df = df.sort_values('gdppcap08', ascending=False)
richest_polities = df.iloc[0:10,]
avg = np.mean(richest_polities['polityIV'])
print(round(avg, ndigits=2))

13.3